.summary__container {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  background-color: var(--secondary-color);
}

.summary__content {
  width: calc(70% - 40px);
  display: flex;
  justify-content: space-between;
  background: var(--primary-text-color);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  padding: 20px;
}

.amount__selected__container {
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: -0.015em;
  display: block;
  margin-bottom: 10px;
}

.amount__selected {
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: -0.015em;
  margin-right: 5px;
}

.summary__total {
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: -0.015em;
  color: var(--primary-text-color);
  display: block;
}

.summary__price {
  font-weight: bold;
  font-size: 18px;
  line-height: 19px;
  letter-spacing: -0.015em;
  color: var(--primary-text-color);
  margin-right: 5px;
}

.summary__make__order {
  width: 220px;
  height: 45px;
  background: var(--light-color);
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.015em;
  color: var(--primary-color);
  border: 0;
  cursor: pointer;
}

.summary__make__order:focus {
  outline: none;
}

.summary__make__order:hover {
  background-color: var(--primary-hover-color);
  color: var(--light-color);
  transition: all ease 0.5s;
  transform: scale(1.01);
}

@media only screen and (max-width: 768px) {
  .summary__content {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .summary__make__order {
    margin-top: 15px;
    width: 100%;
  }
}
