@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --primary-color: #31363f;
  --primary-hover-color: #1d2026;
  --secondary-color: #24292e;
  --primary-text-color: #d6d8da;
  --secondary-text-color: #9da5b4;
  --light-color: #f5f5f5;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}
